@import 'sass-features.scss';

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: $bg-color;

    -webkit-animation: fadeIn 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    -moz-animation: fadeIn 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    -ms-animation: fadeIn 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    animation: fadeIn 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

main {
    overflow-x: hidden;
}

.purple-btn {
    padding: 10px;
    position: fixed;
    bottom: 74px;
    left: 0;
    width: 110px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 0 2px 0 #0000001f;
    cursor: pointer;
    background: $pri-color;
    color: $terd-color;
    z-index: 50;
}

.purple-btn:focus {
    outline: none;
}

.hamburger {
    display: none;
}