.home {
  position     : relative;
  width        : 100%;
  height       : 118vh;
  display      : grid;
  grid-template: 16% 30% 20% 26%/10% 50% 40%;
}

.home .title {
  grid-row   : 2/3;
  grid-column: 2/3;
  width      : 80%;
  min-width  : 440px;
  height     : 100%;
  font-family: "Lato", sans-serif;
  font-size  : 110px;
  font-weight: 800;
  line-height: 0.8;
  color      : #0B6699;
  z-index    : 10;
}

.home .abstract {
  grid-row   : 3/4;
  grid-column: 2/3;
  min-width  : 580px;
  font-size  : 14px;
  line-height: 1.5;
  color      : #0B6699;
  z-index    : 10;
}

.home .banner-img-dk {
  position: absolute;
  right   : -1px;
  bottom  : 0;
  width   : 74%;
}

.home .banner-img-mb {
  display: none;
}

.home .banner-bg-desktop {
  position: absolute;
  left    : 0;
  bottom  : 0;
  width   : 100%;
  z-index : 10;
}

.home .banner-bg-mobile {
  display: none;
}

.home .scroll-btn {
  position         : absolute;
  bottom           : 20px;
  left             : 50%;
  z-index          : 20;
  display          : flex;
  align-items      : center;
  justify-content  : center;
  -webkit-transform: translateX(-50%);
  -moz-transform   : translateX(-50%);
  -ms-transform    : translateX(-50%);
  transform        : translateX(-50%);
}

.home .scroll-btn:focus {
  outline: none;
}

.home .scroll-btn img {
  width: 36px;
}